@{
    ViewData["Title"] = "Add";
}

<link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-4">Add New Movie</h1>
            <hr />
            <form asp-submit="Test" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Enter Movie Name</label>
                    <input asp-for="Name" id = "Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>

<script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
